<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-0">
        <p>Full Stack Engineer with several years of experience in Java development, including analysis, design, development, and deployment of enterprise applications.</p>
      </div>
      <div class="col-lg-4">
        <p>Extensive knowledge in J2EE, JavaScript, and frameworks such as Spring. Also, knowledge in other languages and tools as Intershop, Oracle, Git, Linux, Dev-ops, AWS, Jira... </p>
      </div>

      <div class="col-lg-4">
        <p>Looking for new challenges and opportunities to develop and acquire new skills on a professional level as well as on a personal level. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="assets/David_Tortajada_CV.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
